<form action="" class="col-5" [formGroup]="myForm" (ngSubmit)="postFromArray()">
  <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Name :</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" formControlName="name">
      <div *ngIf="namevalidation?.invalid && namevalidation?.touched"  style="color: red;">Name Required... </div>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Email :</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" formControlName="email">
    <div *ngIf="emailvalidation?.invalid && emailvalidation?.touched">
      <span *ngIf="emailvalidation?.errors?.['required']"  style="color: red;">Email Required...</span>
    </div>
    <button (click)="addEmail()" class="badge bg-success p-2 m-2">Add Email</button>
  </div>
  <div formArrayName="emails">
    <div *ngFor="let emails of emails.controls;let i=index;">
      <div [formGroupName]='i'>
        <label for="formGroupExampleInput2" class="form-label">Email :</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" class="inlien" formControlName="emailname" required>
        <button (click)="removeEmail(i)" class="m-2 badge bg-danger p-2">Remove Email</button>
        <div *ngIf="emails?.invalid && emails?.touched">Email Required... </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Developer :</label>
    <select name="" id="" formControlName="developer" class="mb-3 col-6 p-2 ms-3" >
      <option value="">select</option>
      <ng-container *ngFor="let item of fild">
        <option value="{{item}}">{{item}}</option>
      </ng-container>
    </select>
    <div *ngIf="developervalidation?.invalid && developervalidation?.touched" style="color: red;">Developer Required... </div>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Skill :</label>
    <button (click)="addSkill()" class="badge bg-success p-2 m-2">Add skill</button>
  </div>
  <div class="mb-3">
      <div formArrayName="skills" class="d-flex flex-column bd-highlight">
      <div *ngFor="let item of skills.controls;let i=index" >
        <div [formGroupName]='i'>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" class="inlien" formControlName="skillname">
          <button (click)="removeSkill(i)" class="m-2 badge bg-danger p-2">Remove skill</button>
        </div>
      </div>
    </div>
  </div>
  <button class="badge bg-primary m-2 p-2 px-5 py-3">Submit</button>
</form>